Data/
data/
documentation/
*.tif
*.geojson
Examples/
*.png
*.jpg
*.jpeg

Orchards/
training/
outliers/
out_scores/
testing/
inFull/
Uncropped/
interpretability/

*.svg
*.zip

*.csv
*.xlsx